<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
 <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
</configSections>

  <akka>
    <hocon>
      <![CDATA[
        my-dispatcher {
          type = PinnedDispatcher
          throughput = 100
        }
      
        akka {
          actor {
            deployment {
              # this nested section will be accessed by akka.actor.deployment
              # used to configure our ChartingActor
              /server {
                 # causes ChartingActor to run on the UI thread for WinForms
                dispatcher = my-dispatcher
              }
            }
          }
        }
    ]]>
    </hocon>
  </akka>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>